/* fonts */
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

/* banner-styling starts*/

.resume {
    display: flex;
    justify-content: space-between;
}

.banner-container {
    width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.linking-btn {
    width: 150px;
    height: 46px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    text-decoration: none;

}

/* shared style */

h1 {
    font-size: 48px;
    font-weight: 800px;
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);
}

h2 {
    font-size: 32px;
    font-weight: 800px;
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);
}

h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

h5 {
    font-size: 24px;
    font-weight: 700;
    font-family: Azeret Mono;
    color: rgba(13, 19, 33, 0.7)
}

p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

/* why-choose-web-container style starts */

.why-choose-web-container {
    width: 1140px;
    height: 1250px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
    margin-top: 75px;
    padding: 80px 97px 80px 97px;


}

#learn-more {
    width: 171px;
    height: 47px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;

}

.reason {
    text-align: center;
    margin: 0 47px;

}

.why-web-paragraph {
    padding: 24px 47px;
}

.why-choose-web-part01 {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.why-choose-web-part02 {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.why-choose-web-part03 {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

/* why-choose-web-container style ends */




/* my inspiration style starts */

.my-inspiration-part {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

#youtube {
    width: 1076px;
    height: 550px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 40px;

}

/* my inspiration style starts ends */



/* current target style starts*/

.current-target {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 151px;
}

.current-target-info {
    text-align: center;
    padding: 0 144px;
}

.course-container {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.course-container a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}

#html-content {
    width: 275px;
    height: 234px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
}

#css-content {
    width: 275px;
    height: 234px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
}

#js-content {
    width: 275px;
    height: 234px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
}

/* current target style  ends*/


/* support section style */

.support {
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 16px;
    padding: 10px;
    text-align: center;
    background-image: url(../assets/handshake.jpg);
    background: rgba(1, 2, 3, 1), rgba(5, 6, 8, 1), rgba(3, 9, 5, 13), url(Email);
    background-position: center;
}

.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}

.support-paragraph {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}

#feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#text {
    width: 548px;
    height: 57px;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 17px 20px 17px 20px;
}

#btn {
    width: 120px;
    height: 57px;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px 17px 20px;
    color: rgb(13, 19, 33);
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
}

/* footer style */

footer {
    width: 1440px;
    height: 100px;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 120px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 100px;
}

h5 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;

}